html {
	margin: 0;
	padding: 0;
	}

body { 
	font: 75% times new roman;
	line-height: 1;
	color: #000000; 
	background: #fff url(https://cdna.artstation.com/p/assets/images/images/018/493/664/large/pozsar-adam-animation-backgruand.jpg?1601488433) no-repeat fixed top; 
	margin: 0; 
	padding: 10;
	}

p { 
	text-align: justify;
}

.page-wrapper { 
	width: 900px; 
	margin: 0;
	left: 245px; 
	position: absolute;
	}

	header h1 { 
	position: absolute;
	left:400px;
	top:50px;
	background: transparent url(http://csszengarden.com/001/h1.gif) no-repeat top left;
	margin-top: 10px;
	width: 219px;
	height: 87px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	
	}
header h2 { 
	margin-top: 58px; 
	margin-bottom: 40px; 
	width: 200px; 
	height: 18px; 
	position: absolute;
	left: 510px;
	top: 25px;
	white-space: nowrap;
	
	}
header {
	padding-top: 20px;
	height: 87px;
}

.summary {
	border: 5px solid grey;
	position: absolute; 
	top: 150px;
	left: 200px;
	}

.summary p {
	text-align: center;
	}

.preamble {
	border: 5px solid green;
	position: absolute;
	top: 219px;
	left: 150px; 
	}

.supporting {
	border: 5px solid grey;
	position: absolute;
	top: 365px;
	left: 150px;
	padding-left: 10px; 
	margin-bottom: 40px;
	}

	.sidebar {
	left: 0px; 
	position: absolute; 
	top: 100px; 
	right: 0;
	}

.sidebar .wrapper { 
	background-color: grey; 
	border: 5px solid green;
	font: 10px times new roman; 
	top: 250px; 
	padding: 10px;  
	width: 120px; 
	}
